@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
    
body {
  background-color: #190027;
  color: #fff;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo span {
  color: #b44cff;
}

.nav {
  display: flex;
  align-items: center;
  gap: 25px;
}


/* HEADER */
.header {
  align-items: center;
  padding: 20px 60px;
  background-color: #12001f;
}


input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

input::placeholder, textarea::placeholder {
    color: #888;
}

#nome {
    width: 90%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

#valor {
    width: 70%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.box {
    text-align: center;
}


button {
    width: 100%;
    padding: 12px;
    background: #b44cff;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.ios-alert {
    font-size: 14px;
    color: #555;
    margin-top: 15px;
    text-align: center;
}

.box {
    background: #200131;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 40px auto;
    background: linear-gradient(180deg, #3a0066, #12001f);
    position: relative;
    box-shadow: 0 10px 200px rgba(180, 76, 255, 0.4);
}


.box input, .box textarea {
    background: transparent;
    border: 1px solid #444;
    color: #fff;
    border-radius: 4px;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        padding: 20px;
    }

    .nav {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }

    .box {
        margin: 20px;
        padding: 15px;
    }
}